
<!-- Start Navbar Container -->
   <div class = "container">
     <div class = "row">
       <div class = "col-md-12">
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container ">
            <div class="navbar-header">
                <a id="logo" class="navbar-brand" href="#">FEED THE PANDA </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
          </div>
            <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">    
                  <li class = "nav-item"><a class = "nav-link" href="#searchRecipes">SEARCH RECIPES</a></li>
                   <li class = "nav-item"><a class = "nav-link" href="/favorite">FAVOURITE RECIPES</a></li>
                   <li class = "nav-item"><a class = "nav-link" href="/new">ADD RECIPES</a></li>
                  <li class = "nav-item"><a class = "nav-link" href="/login">LOGIN</a></li>
                  <li class = "nav-item"><a class = "nav-link" href="#signUp">SIGN UP</a></li>
               </ul>
            </div>
        </div>
    </nav> <!-- End Navbar -->
  </div>
  </div>
 </div>  <!-- End Navbar Container -->
 <form>
      <input type="text" name="ingredient">
      <input type="text" name="cuisine">
      <input type="submit" value="Submit">    
 </form>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
