<!-- NavBar Container: feed the panda current-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
        <div class="container ">
          <div class="navbar-header">
            <a id="logo" class="navbar-brand" href="#"> FEED THE PANDA </a>
          </div>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" href="/login">LOGIN</a></li>
            <li class="nav-item"><a class="nav-link" href="/signup">SIGN UP</a></li>
          </ul>
        </div>
    </div>
    </nav>
  </div>
</div>
</div>

<!--Scrolling site-->
  <div class="video-container">
    <video src="/videos/foodbackgroundvid.mp4" class="video" autoplay loop muted></video>
  </div>


<section class="section section-light">
  <h2>Feed The Panda</h2>
  <br>
  <br>
  <p>
    <!-- Comment: The How Too -->
    <div class="features-clean ">
      <div class="container">

        <!--
         <div class="row">
            <img src="/images/pandashop.jpg">
        </div>

         <div class="row">
            <img src="/images/pandaeat.jpg">
        </div>

          <div class="row">
            <img src="/images/pandasleep.jpg">
        </div>

        -->

        
        <div class="row features">
          <div class="col-md-4 col-sm-6 item">
            <img src="/images/pandashop.jpg" width = "300px">
            <br><br>
          </div>
          <div class="col-md-4 col-sm-6 item">
            <img src="/images/pandaeat.jpg" width = "200px">
            <br><br>
          </div>
          <div class="col-md-4 col-sm-6 item">
            <img src="/images/pandasleep.jpg" width = "400px">
            <br><br>
          </div>
         

        </div>
      </div>
    </div>
    <!--End-->
  </p>
</section>




<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>