
<!-- Start Navbar Container -->
   <div class = "container">
     <div class = "row">
       <div class = "col-md-12">
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container ">
            <div class="navbar-header">
                <a id="logo" class="navbar-brand" href="#">FEED THE PANDA </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
          </div>
            <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">   
                  <li class = "nav-item"><a class = "nav-link" href="/login">LOGIN</a></li>
                  <li class = "nav-item"><a class = "nav-link" href="#signUp">SIGN UP</a></li>
               </ul>
            </div>
        </div>
    </nav> <!-- End Navbar -->
  </div>
  </div>
 </div>  <!-- End Navbar Container -->
 
 <!-- Login/Signup -->
<form id = "login" method = "post" action = "/login" >
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name ="email"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>



